@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic,900,900italic");


{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html
{
  height: 100%;
  overflow: auto;
  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body
{

  font-family: "Source Sans Pro", Arial, sans-serif !important;
  padding-right:0px !important;
  margin-right:0px !important;
}
body.client-quiz{
    background-color: rgb(230, 242, 248);
}

.quiz {
  padding-left: 15px;
  padding-right: 15px;
}
#intro {
    border-left:1px #ccc solid;
}
#intro2 {
    border-bottom:1px #ccc solid;
    padding-bottom: 20px;
    text-align: center;
}
#leaders-score {
    padding:10px;
    background: #f8f8f8;
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
#finalscore {
    text-align:center;
}
#finalscore h2.userscore {
    font-size: 4em;
}
#finalscore p#verdict {
    font-size: 2em;
}
li.correct,li.correctuser {
    color: green;
}
li.wrong {
    color: red;
}
strong.currentuser {
    color:green;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#contextual, #contextual2 {display:none;}
a#editor {cursor:pointer;}
#updater, #ajaxupdater {display:none;position: absolute;width:30%; text-align: center;left:25%;}
p.signed {padding-right:20px;}
.helper { display:none;}
#submitstart{padding: 10px 30px;}
img .logo{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  display: block;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    display: inline-block !important;
    width: auto !important;
}

.btn-color {
  color: #333333 !important; 
  background-color: #ffffff !important;
  border-color: #cccccc !important;
}

.btn-color:hover,
.btn-color:focus,
.btn-color:active,
.btn-color.active,
.open .dropdown-toggle.btn-color {
  color: #F8F8F8 !important;
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}

.btn-primary {
  color: #ffffff !important; 
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff !important;
  background-color: #002b7f !important;
  border-color: #002b7f !important;
}
.color{
  background-color: #002b7f !important;
  border:none;
}

.navClass.navbar-brand {
  height: 80px;

}

.navClass .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #C8C8C8;
  font-size: 14px;

}
.navClass .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navClass .navbar-inverse .navbar-brand {
    font-size: 1.25em;
    font-family: "andada", Arial, sans-serif !important;
    color: #fff;
    font-weight: 900;
    padding-left: 30px !important;
}

.navClass .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3f51b5;}

.navClass .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3f51b5;}
.navClass .navbar-nav{
  padding-left: 20px;
}
.main-col{
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 12px #b7dbfd;
    border-radius: 2px;
    border: 1px solid rgba(191, 204, 203, 0.5);
    float: left;
    padding-bottom: 3em;
    width: 90%;
    margin-left: -30px;
}
@media only screen and (max-width: 800px) {
    .main-col {
    width: 100%;
    margin-left: 0px;
    }
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: inherit;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 94%;
    *zoom: 1;
}
.page-exercise h1 {
  color: #72A0C1;
  border-bottom: 5px solid #72A0C1; }




h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Arial, sans-serif !important;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #8a7b7b; }

h1, .h1{
    font-family: "andada", Arial, sans-serif;
    font-size: 2.25em;
    font-weight: bold !important;
    hyphens: manual;
    line-height: 1.2;
    padding: 0 0 .5em 0;
}
.subnav-onpage h2 {
    
    border-bottom: 1px solid #ccc;
    font-size: 1.250em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: .8em;
    padding-top: .8em;
    transition: all .3s;
    margin-left: -40px;
    margin-top: -2px;
    vertical-align: middle;

}.subnav-onpage h2:hover{
  border-bottom: 1px solid #72A0C1;
}

.subnav-onpage a {

    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.subnav-onpage1 li {
    font-size: 20px;
    margin-left: -40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
    vertical-align: middle;
    
  }
.subnav-onpage1 a{
  text-decoration: none;
}

.sidebar-nav h2 {
    color: #72A0C1;
    font-size: .75em;
    font-weight: bold;
    letter-spacing: .05em;
    margin: 1.75em 0 .5em;
    padding: .5em .875em .5em 0;
    text-transform: uppercase;
  }
.sidebar-nav {
    list-style: none;
    padding-left: 25px;
}

.client a {
    border-left: 2px solid  #72A0C1;
    color:  #72A0C1;
    display: block;
    font-size: .875em;
    line-height: 1.2;
    padding: .75em .75em .75em 7%;
    text-decoration: none;}
     .client a:hover {
    background-color: #fff;
    border-left: 2px solid  #3284BF;
    color: #3284BF; 
      }

.admin a {
    display: block;
    font-size: 1.1em;
    line-height: 1.2;
    padding: .4em .0em;
    text-decoration: none;
}
     .admin a:hover {
    background-color: #f8f8f8;}
ul {
  margin-bottom: 0 !important;
}
.sidebar-nav li{
  margin-left: -40px;
}
.modal {
  overflow-y: auto !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px !important;
}
.table > tbody > tr > td {
     vertical-align: middle !important;
}
.formControlul .form-control{
  display: inline-block;
  width: auto !important;
}

.formControlul{
  display: inline-block;
  width: auto !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

img#preview{
  max-width: 60%; 
  height: auto; 
  padding-bottom: 15px;
}
.panel-title > a {
     text-decoration: none !important;
}
.exercise__desc {
    border-radius: 4px;
    display: table-cell;
    padding: 10px 15px 10px;
    width: 66%;
    background: #e6f2f8;
    border-bottom: 2px solid #b6d8ec;
    margin: 1em 0;
}

.exercise__desc h3 {
    color: #25475a;
    font-size: 1.125em;
    margin-top: 0;
}
.exercise__desc p {
    color: #305c76;
    margin: 0 0 .5em 0;
}
.page--exercise form {
    clear: both;
    margin-top: 1em;
}
.page--exercise input[type="submit"] {
    margin-left: 0;
    margin-right: 0;
}
.btn--primary {
    background-color: #55a5d2;
}
.btn--full {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    color: white;
}
.btn--full:hover {
    color: white;
    background-color: #3284BF; 
}
.exercise__body .tasks {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.exercise__body .tasks li {
    list-style: none;
    position: relative;
    padding: .75em .5em;
    margin: 0 0 0 2em;
}